<section class="container">
  <h1>HEROES</h1>
  <mat-paginator
    [length]="heroes().length"
    [pageSize]="pageSize()"
    (page)="onPageChange($event)"
    aria-label="Select page"
  />
  @defer (when heroes()) {
  <section class="card__container">
    @for (hero of pagedHeroes(); track $index) {
    <mat-card appearance="outlined" class="card__container-matCard">
      <mat-card-header>
        <h1 class="matCard--title">{{ hero.name }}</h1>
      </mat-card-header>
      <mat-card-content class="matCard--content">
        <img
          mat-card-image
          [src]="hero.image"
          [alt]="hero.name"
          class="matCard--image"
        />
      </mat-card-content>
        <mat-chip-set aria-label="Skills">
          <mat-chip>Combat: {{hero.skills.combat}}</mat-chip>
          <mat-chip>Durability: {{hero.skills.durability}}</mat-chip>
          <mat-chip>Intelligence: {{hero.skills.intelligence}}</mat-chip>
          <mat-chip>Power: {{hero.skills.power}}</mat-chip>
          <mat-chip>Speed: {{hero.skills.speed}}</mat-chip>
          <mat-chip>Strength: {{hero.skills.strength}}</mat-chip>
        </mat-chip-set>
      <mat-card-actions class="matCard--actions">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/update', hero.id]"
        >
          Edit
        </button>
        <button mat-raised-button color="warn" (click)="openDialogDelete(hero)">
          Delete
        </button>
      </mat-card-actions>
      <mat-card-footer class="matCard--footer">
        <em>{{ hero.slogan }}</em>
      </mat-card-footer>
    </mat-card>
    } @empty {
      No hay heroes disponibles en éste paginado.
    }
  </section>
  } @placeholder {
  <span>Cargando heroes...</span>
  }
</section>
