<section class="container">
  <h1 class="container--title">Lista de Heroes</h1>
  <span>Mirá a tus heroes favoritos</span>
  <section class="container--paginator">
  <mat-paginator
    [length]="totalFiltered()"
    [pageSize]="pageSize()"
    (page)="onPaginator($event)"
    aria-label="Select page"
  />
    <button mat-fab extended color="primary" [routerLink]="['/add']">
      Add new Hero
      <mat-icon>add</mat-icon>
    </button>
    <!-- Search Bar -->
    <form>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput
               type="search"
               placeholder="Search your hero"
               aria-label="Search"
               [formControl]="searchControl">
      </mat-form-field>
    </form>
  </section>

  <!-- ## Comento el defer/ no se incluirlo en el testing-->
  <!-- @defer (when heroes()) { -->
  <section class="card__container">
    @for (hero of pagedHeroes(); track $index) {
    <mat-card data-testid="hero-card" appearance="outlined" class="card__container-matCard">
      <mat-card-header>
        <h1 class="matCard--title">{{ hero.name | uppercase }}</h1>
      </mat-card-header>
      <mat-card-content class="matCard--content">
        <img
          mat-card-image
          [src]="hero.image || 'assets/svg/heroes/image-broken.webp'"
          (error)="handleImageError($event)"
          [alt]="hero.name"
          class="matCard--image"
        />
      </mat-card-content>
      <mat-chip-set aria-label="Skills">
        <mat-chip>Combat: {{ hero.skills.combat }}</mat-chip>
        <mat-chip>Durability: {{ hero.skills.durability }}</mat-chip>
        <mat-chip>Intelligence: {{ hero.skills.intelligence }}</mat-chip>
        <mat-chip>Power: {{ hero.skills.power }}</mat-chip>
        <mat-chip>Speed: {{ hero.skills.speed }}</mat-chip>
        <mat-chip>Strength: {{ hero.skills.strength }}</mat-chip>
      </mat-chip-set>
      <mat-card-actions class="matCard--actions">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/update', hero.id]"
        >
          Edit
        </button>
        <button mat-raised-button color="warn" (click)="openDialogDelete(hero)">
          Delete
        </button>
      </mat-card-actions>
      <mat-card-footer class="matCard--footer">
        <em>{{ hero.slogan }}</em>
      </mat-card-footer>
    </mat-card>
    } @empty { No hay heroes disponibles en éste paginado. }
  </section>
  <!-- } @placeholder {
  <span>Cargando heroes...</span>
  } -->
</section>
